{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Add City</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="city_name">City Name:</label>
					<input type="text" name="cat" id="cityNameInput" placeholder="City Name" required="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add City</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}


<script>
        const cityNameInput = document.getElementById('cityNameInput');
        cityNameInput.addEventListener('input', function(event) {
            const cityName = event.target.value;
            const regex = /^[A-Z][a-z]+$/;
            if (!regex.test(cityName)) {
                cityNameInput.setCustomValidity('City name should start with a capital letter');
            } else {
                cityNameInput.setCustomValidity('');
            }
        });
</script>


{% endblock %}
