{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if error %}
<script>
	alert('Message sent successfully,We will contact you soon.');
	window.location="{% url 'home' %}";
</script>
{% endif %}
	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact" style="margin-top:7%">
<!-- <h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Contact US</h3> -->
	<!-- contact -->
	<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.2382505182565!2d76.3363724145289!3d9.68133469323474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0802d9fb4c4b55%3A0x17b54cc0f46cc18c!2sCherthala%2C%20Kerala!5e0!3m2!1sen!2sin!4v1648659003163!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
	<section class="wthree-row py-5 w3-contact" id="contact">
		<div class="container py-md-5">
			<h4 class="w3ls-title text-center text-uppercase pb-md-5 pb-4">Give your Feedback</h4>
			<div class="row contact-form ">
				<div class="col-lg-6 wthree-form-left">
					<!-- contact form grid -->
					<div class="contact-top1">
						<form action="" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="contactusername">Name</label>
								<input type="text" class="form-control" id="contactusername" name="name" required>
							</div>
							<div class="form-group">
								<label for="contactemail">Email</label>
								<input type="email" class="form-control" id="contactemail" name="email"required>
							</div>
							<div class="form-group">
								<label for="contactcomment">Your Feedback</label>
								<textarea class="form-control" rows="5" id="contactcomment" name="message" required></textarea>
							</div>
							<button type="submit" class="btn btn-info btn-block">Submit</button>
						</form>
					</div>
					<!--  //contact form grid ends here -->
				</div>
				<!-- contact details -->
				<!-- contact map grid -->
				<div class="col-lg-6  mt-lg-0 mt-5 map contact-right">
                    <img src="{% static 'images/contact.gif' %}" style="width:30%">
				</div>

			</div>
        </div>
	</section>
	</section>
	<!-- //contact -->

{% endblock %}