{% extends 'index.html' %}
{% load static %}
{% block body %}
{% ifequal error "create" %}
<script>
    alert('Registration Successful');
    window.location=('{% url 'login' %}');
</script>
{% endifequal %}
	<!-- //header -->

	<!-- banner -->
	<!-- banner-slider -->
	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact" style="margin-top:7%">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Register Your Account</h3>
	<!-- contact -->
	<section class="wthree-row py-5 w3-contact" id="contact">
		<div class="container py-md-5">
			<h5 class="w3ls-title text-center text-uppercase pb-md-5 pb-4">Register Your Account</h5>
			<div class="row contact-form ">
                <div class="col-lg-6  mt-lg-0 mt-5 map contact-right">

					<div class="address mt-3">
						<h5 class="pb-3 text-capitalize"></h5>
						<address>
							<img src="{% static 'images/sign3.jpg' %}" style="width:50%" alt/>
						</address>
					</div>
				</div>
				<div class="col-lg-6 wthree-form-left">
					<!-- contact form grid -->
					<div class="contact-top1">
						<form action="#" method="post" class="f-color" enctype="multipart/form-data">
                            {% csrf_token %}
							<div class="row">
                                <div class="col-md-6">
								<label for="contactusername">Username</label>
                                    <input class="form-control" type="text" name="uname" id="name" placeholder="Username" required="" onblur="return validateform()" onKeyUp="return validateform()">
									<span id="nm" style="color: red;"></span>
							</div>
                                <div class="col-md-6">
								<label for="contactemail">Password</label>
                                  <input class="form-control" type="password" name="pwd" id="password" placeholder="Password" required="" onblur="return validateform()" onKeyUp="return validateform()">								 
								   <span id="pss" style="color: red;"></span>
							</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
								<label for="contactusername">First name</label>
                                        <input class="form-control" type="text" name="fname" id="fname" placeholder="First Name" required="" onblur="return validateform()" onKeyUp="return validateform()">
										<span id="fn" style="color: red;"></span>

							</div>
							<div class="col-md-6">
								<label for="contactemail">Last Name</label>
                                        <input class="form-control" type="text" name="lname" id="lname" placeholder="Last Name" required="" onblur="return validateform()" onKeyUp="return validateform()">
										<span id="ln" style="color: red;"></span>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
								<label for="contactusername">Email</label>
                                        <input class="form-control" type="email" name="email" id="email" placeholder="Email address" required="" onblur="return validateform()" onKeyUp="return validateform()">										
										<span id="eml" style="color: red;"></span>
							</div>
								<div class="col-md-6">
								<label for="contactusername">Image</label>
                                        <input class="form-control" type="file" name="image" id="image" required="" onblur="return validateform()" onKeyUp="return validateform()">
										<span id="imgError" style="color: red;"></span>
							</div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
								<label for="contactusername">Contact</label>
                                        <input class="form-control" type="text" name="contact" placeholder="Phone Number" required="" id="number" onblur="return validateform()" onKeyUp="return validateform()">
										<span id="no" style="color: red;"></span>
							</div>
                            </div>

							<div class="row">
                                <div class="col-md-12">
								<label for="contactemail">Address</label>
                                <input class="form-control" type="text" name="address" placeholder="Address" required="" id="state"  onblur="return validateform()" onKeyUp="return validateform()">
								<span id="ste" style="color: red;"></span>
							</div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
								<label for="contactemail">Select User Type</label>
                                        <p style="margin-bottom:4%;padding:9px;border:1px solid lightgrey;border-radius:2px">Service Man <input type="radio" name="type" value="service_man">  <span style="margin-left:2%">Customer</span> <input type="radio" name="type" value="customer"></p>
							</div>
                            </div>
							<button type="submit" class="btn btn-info btn-block">Register</button>
						</form>
							</div>
					<!--  //contact form grid ends here -->
				</div>
				<!-- contact details -->
				<!-- contact map grid -->

				<!--//contact map grid ends here-->
			</div>
        </div>
	</section>
	</section>
	<!-- //contact -->

	<script>
		function validateform()
     {
         var a=document.getElementById('name').value.trim();	
		 var e=document.getElementById('password').value.trim();
		 var b=document.getElementById('fname').value.trim();
		 var d=document.getElementById('lname').value.trim();
		 var c=document.getElementById('email').value.trim();
		 const imageField = document.getElementById('image');
  		 const imageError = document.getElementById('imgError');
		 var f=document.getElementById('number').value.trim();
		 var g=document.getElementById('state').value.trim();

		 var expr = /^[6-9]\d{9}$/;
         var passpatern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;

		 if(a=="")
                {
                    document.getElementById('nm').style.display="block";
                    document.getElementById('nm').innerHTML="**Please Enter User Name";
                    return false;
                }
                if (/[^a-zA-Z]/.test(a))
                    {
                        document.getElementById('nm').style.display="block";
                        document.getElementById('nm').innerHTML="**Only Alphabets Allowed";
                        return false;
                    }
                    else{
                        document.getElementById('nm').style.display="none";
                        
                    }

				
		if(e=="")
                {
                    document.getElementById('pss').innerHTML="**please enter Password";
                    return false;
                }
                if (!e.match(passpatern))
                    {
                        
                        document.getElementById('pss').innerHTML="contain upper and lowercase letters, numbers, and symbols";
                        return false;
                    }
                    else{
                    document.getElementById('pss').style.display = "none";
                   
                    }
					if(b=="")
                {
                    document.getElementById('fn').style.display="block";
                    document.getElementById('fn').innerHTML="**Please Enter First Name";
                    return false;
                }
                if (/[^a-zA-Z]/.test(b))
                    {
                        document.getElementById('fn').style.display="block";
                        document.getElementById('fn').innerHTML="**Only Alphabets Allowed";
                        return false;
                    }
                    else{
                        document.getElementById('fn').style.display="none";
                        
                    }
					if(d=="")
                {
                    document.getElementById('ln').style.display="block";
                    document.getElementById('ln').innerHTML="**Please Enter Last Name";
                    return false;
                }
                if (/[^a-zA-Z]/.test(d))
                    {
                        document.getElementById('ln').style.display="block";
                        document.getElementById('ln').innerHTML="**Only Alphabets Allowed";
                        return false;
                    }
                    else{
                        document.getElementById('ln').style.display="none";
                        
                    }
				if(c=="")
                { 
                    document.getElementById('eml').style.display="block";
                    document.getElementById('eml').innerHTML="**Please Enter Email";
                    return false;
                }  
                if(c.indexOf('@')<=0){
                    document.getElementById('eml').style.display="block";
                    document.getElementById('eml').innerHTML="**Invalid  Email Address";
                    return false;
                }     
                if ((c.charAt(c.length-4)!='.') && (c.charAt(c.length-3)!='.')) {
                    document.getElementById('eml').style.display="block";
                    document.getElementById('eml').innerHTML="**Invalid  Email Address";
                    return false;
                }   
                else{
                    document.getElementById('eml').style.display="none";
                }

				if (!imageField.files || !imageField.files[0]) {
    			imageError.textContent = 'Please select an image file.';
    			return false;
  				}

  				const fileType = imageField.files[0].type;
  				const validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];

  				// Check if the selected file is a valid image type
  				if (!validImageTypes.includes(fileType)) {
   				 imageError.textContent = 'Please select a valid image file (JPEG, PNG, or GIF).';
    			return false;
 				 }
				  imageError.textContent = '';
  				if(f=="")
                {
                    document.getElementById('no').style.display = "block";

                    document.getElementById('no').innerHTML="**Please Enter  phone number";
                    return false;
                }
                if(f!="" && expr.test(f)==false){
                    document.getElementById('no').style.display= "block";
                    document.getElementById('no').innerHTML ="Invalid Phone number";
                    return false;
               }
                else{
                    document.getElementById('no').style.display = "none";
                    }
					if(g=="")
                {
                    document.getElementById('ste').style.display="block";
                    document.getElementById('ste').innerHTML="**Please Enter Address";
                    return false;
                }
                else{
                    document.getElementById('ste').style.display="none";
                    
                }	
  				
	}

	</script>

{% endblock %}